*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 1.1em;

}

.Container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 10px;
    height: 100vh;
    grid-template-areas: "navbar navbar navbar navbar"
                        " sidebar main main main"
                        " sidebar main main main"
                        " sidebar content1 content2 content3"
                        " sidebar content1 content2 content3"
                        " sidebar footer footer footer";
                        
}

nav{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    grid-area: navbar;
}
aside{

    background-color: lightgreen;
    border-radius: 20px;
    grid-area:sidebar ;
}
main{
    background-color: lightslategrey;
    border-radius: 20px;
    grid-area:main;
}
.Content1{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    border-radius: 20px;
    grid-area:content1;

}
.Content2{
    display:flex;
    justify-content: center;
    align-items: center;    
    background-color: darkslategray;
    border-radius: 20px;
    grid-area:content2;

}
.Content3{
    display:flex;
    justify-content: center;
    align-items: center;    
    background-color: darkslategray;
    border-radius: 20px;
    grid-area:content3;

}
footer{
    background-color: pink;
    border-radius: 20px;
    grid-area:footer;

}