* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

main{
    width: 30%;
    border: solid 5px black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 600px;
}

p{
    margin: 50px;
}